<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body>
  <section>
    <div>Flight#: </div>
    <div><%= flight.flightNo %></div>
    <br>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <br>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <br>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
    <br>
    <% flight.destinations.forEach(function(f) { %>
    <div>Additional Destinations: </div>
    <div><%= f.airport %></div>
    <div>Arrival Time: </div>
    <div><%= f.arrival %></div>
    <br>
    <% }); %>
  </section>
  <h2>Add More Stuffs</h2>
  <form id="add-review-form" method="POST"
  action="/flights/<%= flight._id %>/destinations"> <!-- fix this -->
  <label>Destination:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DEN">DEN</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label>
  <br>
  <label>Date:
    <input type="datetime-local" name="departs" value="<%= departsDate %>">
  </label>
  <input type="submit" value="Add Stuffs">
</form>
</body>
</html>