<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Mongoose Flights</title>
</head>
<body id="show-body">
  <nav>
    <div>
      <p>New <a href="/flights/<%= flight._id %>/tickets/new/">Ticket</a></p>
      <p>Go <a href="/flights">back</a></p>
      <% let arr1 = []; %>
      <% let arr2 = ['AUS', 'DEN', 'DFW', 'LAX', 'SAN']; %>
      <% flight.destinations.forEach(function(d) { %>
        <% arr1.push(d.airport); %>
      <% }); %>
    </div>
  </nav>
  <h2>Add Destinations</h2>
  <% if (arr1.length < 5) { %>
  <form method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Destination:
      <select name="airport">
      <% arr2.forEach(function(airport) { %>
        <% if (!arr1.includes(airport)) { %>
        <option value="<%= airport %>"><%= airport %></option>
      <% }}); %>
      </select>
    </label>
    <br>
    <label>Date:
      <input type="datetime-local" name="arrival" value="<%= departsDate %>">
    </label>
    <input type="submit" value="Add Stuffs">
  </form>
  <% } %>
  <div id="show-div">
    <section id="show-section">
      <br>
      <table id="show-table">
        <thead>
          <tr>
            <th>Flight #</th>
            <th>Airline</th>
            <th>Airport</th>
            <th>Departure</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= flight.flightNo %></td>
              <td><%= flight.airline %></td>
              <td><%= flight.airport %></td>
              <td><%= flight.departs %></td>
            </tr>
        </tbody>
      </table>
      <section>
        <br>
        <h3>Additional Destinations: </h3>
        <% flight.destinations.forEach(function(f) { %>
          <table>
            <thead>
              <tr>
                <th>Airport:</th>
                <th>Arrival Time:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.airport %></td>
                <td><%= f.arrival %></td>
              </tr>
            </tbody>
          </table>
          <br>
        <% }); %>
        <h3>Tickets:</h3>
        <% tickets.forEach(function(t) { %>
          <table>
            <thead>
              <tr>
                <th>Seat</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t.seat %></td>
                <td>$<%= t.price %></td>
              </tr>
            </tbody>
          </table>
          <br>
        <% }); %>
      </section>
    </section>
  </div>
</body>
</html>